.hide-element {
    visibility: hidden;
    /*Не отбражать элементы*/
}

.hover:hover {
    background: aquamarine;
    /*Изменение цвета*/
}

.pointer {
    cursor: pointer;
    /*Изменение типа курсора*/
}